a,
a:hover,
a:focus,
a:visited {
  color: #744d82;
}

.centered-input input {
  text-align: center;
}
.dtheaderbg {
  background-color: rgb(149, 229, 176);
}
.right-input input {
  text-align: right;
}

.selectedRow {
  background-color: rgb(253, 249, 188);
}

input::placeholder {
  color: red !important;
  font-size: 10px;
}

#draggable-container-profile {
  position: absolute;
  z-index: 9;
  width: 900px;
}

#draggable-header-profile {
  z-index: 10;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #39465e;
}

#draggable-container-sellitem {
  position: absolute;
  z-index: 9;
  width: 600px;
}
#draggable-header-sellitem {
  z-index: 10;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: rgb(65, 67, 160);
}

#draggable-container-item {
  position: absolute;
  z-index: 9;
  width: 600px;
}
#draggable-header-item {
  z-index: 10;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: seagreen;
}
