$btn-border-radius: 2px;

$font-size-root: 12px;

//text fields
// $text-field-dense-padding: 2px;
// $text-field-dense-icon-append-prepend-margin-top: 4px;
// $text-field-filled-full-width-outlined-dense-slot-min-height: 30px;
// $text-field-dense-label-top: 12px;
// $text-field-dense-prepend-append-margin-top: 8px;
// $text-field-outlined-dense-label-position-x: 6px;
// $text-field-outlined-dense-label-position-y: -12px;
// $text-field-solo-dense-control-min-height: 30px;
// $text-field-solo-dense-outer-margin-top: 4px;

// //select
$select-chips-dense-selections-padding-top: 20px;
$select-chips-dense-selections-min-height: 20px;
$select-small-chips-dense-selections-min-height: 25px;
$select-chips-dense-selections-padding-top: 20px;
$select-dense-selections-margin: 2px;
$select-chips-dense-selections-padding-top: 30px;

//datepicker
$date-picker-event-size: 4px;
$date-picker-event-date-bottom: 4px;

$data-table-regular-row-height: 25px;
$data-table-regular-header-height: 25px;
$data-table-regular-header-font-size: 12px;
$data-table-regular-row-font-size: 12px;

// // $autocomplete-enclosed-input-margin-top: 5px;
// // $autocomplete-focused-input: 30px;
