//custom variables to modify vuetify default css
//treeshaking not working now
$btn-border-radius: 0px;

$font-size-root: 10px;

$text-field-filled-full-width-label-top: 12px;

//data-table
$data-table-regular-row-height: 20px;
$data-table-regular-header-height: 12px;
$data-table-regular-row-font-size: 11px;

//text field
// $text-field-padding: 2px;
// $text-field-line-height: 14px;
// $text-field-append-prepend-margin: 6px;
// $text-field-label-top: 6px;
// $text-field-details-min-height: 10px;
// $text-field-filled-full-width-label-top: 12px;
// $text-field-single-line-label-top: 10px;
// $text-field-details-margin-bottom: 6px;
// $text-field-prefix-max-height: 22px;

//autocomplete
$autocomplete-enclosed-input-margin-top: 5px;
$autocomplete-dense-enclosed-input-margin-top: 4px;
$autocomplete-focused-input: 30px;
